In [1]:
# Problem Statement:
# Given a sentence, identify all unique words and display:
# 1. The count of unique words
# 2. The unique words themselves

user_line = input("Enter sentence: ")

split_data = user_line.split()

distinct_terms = set(split_data)

result_count = len(distinct_terms)

print("Unique words count", result_count)
print("Unique words", distinct_terms)

Enter sentence: python is easy and python is powerful
Unique words count 5
Unique words {'python', 'easy', 'is', 'powerful', 'and'}

In [11]:
# Problem Statement:
# Store employee names and their salaries, and determine which employee has the highest salary.

employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

highest = max(employees, key=employees.get)

salary = employees[highest]

print("Highest Salary ", highest, "-", salary)

Highest Salary  Ravi - 75000

In [12]:
# Problem Statement:
# Find the maximum and minimum values from a list of numbers.

numbers = [45, 22, 89, 10, 66]

big = numbers[0]
small = numbers[0]

for val in numbers:
    if val > big:
        big = val
    if val < small:
        small = val

print("List:", numbers)
print("Max:", big)
print("Min:", small)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

In [13]:
# Problem Statement:
# Count how many products have a price greater than 1000.

prices = [450, 1200, 899, 1500, 300]

count = 0

for val in prices:
    if val > 1000:
        count += 1

print("Products above 1000:", count)

Products above 1000: 2

In [14]:
# Problem Statement:
# Calculate the attendance percentage from a list containing "P" (Present) and "A" (Absent).

attendance = ["P", "P", "A", "P", "P"]

present = 0
total = len(attendance)

for mark in attendance:
    if mark == "P":
        present += 1

percent = (present / total) * 100

print("Attendance Percentage:", percent)

Attendance Percentage: 80.0

In [15]:
# Problem Statement:
# Remove duplicate phone numbers from a list and display only unique phone numbers.

phones = [9876543210, 9123456789, 9876543210]

unique = set(phones)

print("Unique phone numbers:", unique)

Unique phone numbers: {9876543210, 9123456789}

In [17]:
# Problem Statement:
# Count how many times each character appears in a given string.

text = "pythonp"

count = {}

for ch in text:
    if ch in count:
        count[ch] += 1
    else:
        count[ch] = 1

print(count)

{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

In [18]:
# Problem Statement:
# Convert a list into a tuple and display it.

data = [10, 20, 30]

result = tuple(data)

print("Tuple:", result)

Tuple: (10, 20, 30)

In [19]:
# Problem Statement:
# Check whether a specific key exists in a dictionary.

staff = {
    "Employee": "Suresh",
    "Age": 28,
    "City": "Mysore"
}

key = "Employee"

if key in staff:
    print("Employee exists")
else:
    print("Employee does not exist")

Employee exists

In [20]:
# Problem Statement:
# Calculate the average marks of a student from a list of marks.

marks = [70, 75, 80, 65]

total = 0

for val in marks:
    total += val

avg = total / len(marks)

print("Average Marks:", avg)

Average Marks: 72.5